---
layout: post-index
title: The Pennsylvania State University <br>      
    May 28-29, 2015
description: "Emerging Researchers in Exoplanet Science Symposium,  May 28-29, 2015 at The Pennsylvania State University, University Park, PA"
tags: []
image:
  feature: banner.jpg
  credit: ESO, Nathaniel C. Sheetz
  creditlink: 
---

We are pleased to announce the first annual Emerging Researchers in Exoplanet Science Symposium (ERES) to be held May 28 & 29, 2015 at the Pennsylvania State University in University Park, PA.  ERES is aimed at early career scientists (graduate student, postdoc, advance undergraduate) working in all branches of exoplanetary science and related disciplines (e.g., brown dwarfs, protoplanetary disks, star formation, related instrumentation and theory).  Its purpose is to give these emerging researchers the opportunity to present their research to an interested audience, to provide plenty of opportunities to network with peers, and to enhance collaborations within exoplanet community.  ERES will be held annually on a rotating basis between partner institutions. The 2015 meeting is graciously support by the NASA Exoplanet Science Institute<p>
<a href="http://nexsci.caltech.edu/" target="_blank">
<img src="{{ site.url }}/images/nexsci_logo.jpg" border="0" style="border:none;max-width:100%;" alt="Link" /></a>
<a href="http://astronomy.yale.edu/" target="_blank">
<img src="{{ site.url }}/images/yale_logo.jpg" border="0" style="border:none;max-width:100%;" alt="Link" /></a>
<a href="http://www.astro.cornell.edu/" target="_blank">
<img src="{{ site.url }}/images/cornell_logo.jpg" border="0" style="border:none;max-width:100%;" alt="Link" /></a>
<a href="http://astro.psu.edu/" target="_blank">
<img src="{{ site.url }}/images/pennstate_logo.jpg" border="0" style="border:none;max-width:100%;" alt="Link" /></a>
<p>


<h2><a style="color: rgb(51, 102, 153)"href="{{ site.url }}/reg.html">Register</a> for the 2015 meeting at Penn State.</h2>

<h4>Registration with Two Prepaid Buffet Lunches*</h4>
Before January 30th, 2015 - $67.00<br>
Before March 26th, 2015 - $77.00<br>
Until May 8th, 2015 - $92.00<br>
<h5>*Includes beverage and 18% gratuity</h5> 

<h4>Registration Only</h4>
Before January 30th, 2015 - $35.00<br>
Before March 26th, 2015 - $45.00<br>
Until May 8th, 2015 - $60.00<br>
<p>
<h2><a style="color: rgb(51, 102, 153)"href="{{ site.url }}/ERESS_Poster.pdf">Conference Poster</a></h2>
<h2>Submit an <a style="color: rgb(51, 102, 153)"href="{{ site.url }}/abstract.html">Abstract</a></h2>
Due by March 26th, 2015
<h2><a style="color: rgb(51, 102, 153)"href="{{ site.url }}/travel.html">Travel and Accommodations</a></h2>
Conference rate booking deadline is April 27th, 2015.
<h2>Future Meetings</h2><p>
<h3>2016 Cornell University, Ithaca, NY<br>
    2017 Yale University, New Haven, CT</h3>

<hr>
<h2>Latest News</h2><br>
{% for post in paginator.posts %}
<article class="hentry">
  <header>
    <div class="entry-meta"><span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}"><a style="color: rgb(51, 102, 153)"href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time></span><span class="author vcard"><span class="fn"><a style="color: rgb(51, 102, 153)"href="{{ site.url }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span>{% if site.disqus_shortname and post.comments %}&nbsp; &bull; &nbsp;<span class="entry-comments"><a style="color: rgb(51, 102, 153)"href="{{ site.url }}{{ post.url }}#disqus_thread">Comment</a></span>{% endif %}</div><!-- /.entry-meta -->
    {% if post.link %}
      <h1 class="entry-title"><a style="color: rgb(51, 102, 153)"href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}"><i class="icon-double-angle-right"></i></a> <a style="color: rgb(51, 102, 153)"href="{{ post.link }}">{{ post.title }}</a></h1>
    {% else %}
      <h1 class="entry-title"><a style="color: rgb(51, 102, 153)"href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
    {% endif %}
  </header>
  <div class="entry-content">
    {{ post.content }}
  </div><!-- /.entry-content -->
</article><!-- /.hentry -->
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a style="color: rgb(51, 102, 153)"href="{{ site.url }}" class="btn">Previous</a>
    {% else %}
      <a style="color: rgb(51, 102, 153)"href="{{ site.url }}/page{{ paginator.previous_page }}" class="btn">Previous</a>
    {% endif %}
  {% else %}
    Previous
  {% endif %}
  <ul class="inline-list">
    <li>
      {% if paginator.page == 1 %}
        <span class="current-page">1</span>
      {% else %}
        <a style="color: rgb(51, 102, 153)"href="{{ site.url }}">1</a>
      {% endif %}
    </li>
    {% for count in (2..paginator.total_pages) %}
      <li>
        {% if count == paginator.page %}
          <span class="current-page">{{ count }}</span>
        {% else %}
          <a style="color: rgb(51, 102, 153)"href="{{ site.url }}/page{{ count }}">{{ count }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if paginator.next_page %}
    <a style="color: rgb(51, 102, 153)"href="{{ site.url }}/page{{ paginator.next_page }}" class="btn">Next</a>
  {% else %}
    Next
  {% endif %}
</div><!-- /.pagination -->