---
layout: post-index
title: The Pennsylvania State University <br>      
    May 28-29, 2015
description: "Emerging Researchers in Exoplanet Science Symposium,  May 28-29, 2015 at The Pennsylvania State University, University Park, PA"
tags: []
image:
  feature: banner.jpg
  credit: ESO, Nathaniel C. Sheetz
  creditlink: 
---

We are pleased to announce the first annual Emerging Researchers in Exoplanet Science Symposium (ERES) to be held May 28 & 29, 2015 at the Pennsylvania State University in University Park, PA.  ERES is aimed at early career scientists (graduate student, postdoc, advance undergraduate) working in all branches of exoplanetary science and related disciplines (e.g., brown dwarfs, protoplanetary disks, star formation, related instrumentation and theory).  Its purpose is to give these emerging researchers the opportunity to present their research to an interested audience, to provide plenty of opportunities to network with peers, and to enhance collaborations within exoplanet community.  ERES will be held annually on a rotating basis between partner institutions. The 2015 meeting is graciously supported by the NASA Exoplanet Science Institute<p>
<a href="http://nexsci.caltech.edu/" target="_blank">
<img src="{{ site.url }}/images/nexsci_logo.jpg" border="0" style="border:none;max-width:100%;" alt="Link" /></a>
<a href="http://astronomy.yale.edu/" target="_blank">
<img src="{{ site.url }}/images/yale_logo.jpg" border="0" style="border:none;max-width:100%;" alt="Link" /></a>
<a href="http://www.astro.cornell.edu/" target="_blank">
<img src="{{ site.url }}/images/cornell_logo.jpg" border="0" style="border:none;max-width:100%;" alt="Link" /></a>
<a href="http://astro.psu.edu/" target="_blank">
<img src="{{ site.url }}/images/pennstate_log.jpg" border="0" style="border:none;max-width:100%;" alt="Link" /></a>
<p>


<h2>Registration is now closed.</h2>
<p>
<h2><a style="color: rgb(51, 102, 153)"href="{{ site.url }}/schedule/">Schedule</a></h2>
<h2><a style="color: rgb(51, 102, 153)"href="https://www.youtube.com/channel/UCl7kGXT4gcdHyclMvNQReZA/feed">Videos of Talks and Panels</h2>
<h2><a style="color: rgb(51, 102, 153)"href="{{ site.url }}/ERESS_Poster.pdf">Conference Poster</a></h2>
<h2>Abstract submission is now closed. However, you may submit a late abstract as a poster presentation <a style="color: rgb(51, 102, 153)"href="{{ site.url }}/abstract.html">here</a></h2>

<h2><a style="color: rgb(51, 102, 153)"href="{{ site.url }}/travel.html">Travel and Accommodations</a></h2>
The conference rate booking deadline has passed. 

<h2>Presentation Guidelines</h2>
<h3>Oral Presentations</h3>
All talks are 10 minutes long, with an additional time for Q&A.<br>
Your talk session chair will contact you soon to provide information on how to submit your materials for presentation.<br> 
You will need to submit your presentation materials to your session chair at least one week before your talk.<br>

<h3>Poster Presentations</h3>
Posters should be no more than 36 inches in width and 44 inches in hight.<br>
All poster presenters will also be invited to give a Poster Pop presentation. Poster Pops are 60 second long advertisements for your poster that you will present to the rest of the participants.<br>
Your Poster Pop can have one slide with information on your research or a figure that will be shown while you talk about your poster.<br> 
Your poster session chair will email you soon with more details about how you can submit your slide for your poster pop. Submissions must be made at least a week before the poster session.<br>
Any queries about the poster session or Poster Pop session can be sent to <a href="mailto:eresposterpop@psu.edu">eresposterpop@psu.edu</a><br>

<h2>Future Meetings</h2><p>
<h3>2016 Cornell University, Ithaca, NY<br>
    2017 Yale University, New Haven, CT</h3>

<h2><a style="color: rgb(51, 102, 153)"href="{{ site.url }}/faq/">Frequently Asked Questions</a></h2>

<hr>
<h2>Latest News</h2><br>
{% for post in paginator.posts %}
<article class="hentry">
  <header>
    <div class="entry-meta"><span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}"><a style="color: rgb(51, 102, 153)"href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time></span><span class="author vcard"><span class="fn"><a style="color: rgb(51, 102, 153)"href="{{ site.url }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span>{% if site.disqus_shortname and post.comments %}&nbsp; &bull; &nbsp;<span class="entry-comments"><a style="color: rgb(51, 102, 153)"href="{{ site.url }}{{ post.url }}#disqus_thread">Comment</a></span>{% endif %}</div><!-- /.entry-meta -->
    {% if post.link %}
      <h1 class="entry-title"><a style="color: rgb(51, 102, 153)"href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}"><i class="icon-double-angle-right"></i></a> <a style="color: rgb(51, 102, 153)"href="{{ post.link }}">{{ post.title }}</a></h1>
    {% else %}
      <h1 class="entry-title"><a style="color: rgb(51, 102, 153)"href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
    {% endif %}
  </header>
  <div class="entry-content">
    {{ post.content }}
  </div><!-- /.entry-content -->
</article><!-- /.hentry -->
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a style="color: rgb(51, 102, 153)"href="{{ site.url }}" class="btn">Previous</a>
    {% else %}
      <a style="color: rgb(51, 102, 153)"href="{{ site.url }}/page{{ paginator.previous_page }}" class="btn">Previous</a>
    {% endif %}
  {% else %}
    Previous
  {% endif %}
  <ul class="inline-list">
    <li>
      {% if paginator.page == 1 %}
        <span class="current-page">1</span>
      {% else %}
        <a style="color: rgb(51, 102, 153)"href="{{ site.url }}">1</a>
      {% endif %}
    </li>
    {% for count in (2..paginator.total_pages) %}
      <li>
        {% if count == paginator.page %}
          <span class="current-page">{{ count }}</span>
        {% else %}
          <a style="color: rgb(51, 102, 153)"href="{{ site.url }}/page{{ count }}">{{ count }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if paginator.next_page %}
    <a style="color: rgb(51, 102, 153)"href="{{ site.url }}/page{{ paginator.next_page }}" class="btn">Next</a>
  {% else %}
    Next
  {% endif %}
</div><!-- /.pagination -->